<div class="">
    <header class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container justify-content-start">
                <a class="navbar-brand d-flex" href="#">Fligoo Challenge</a>
                <span class="text-primary me-3">|</span>
                <span class="text-primary"> Juan Manuel Rodriguez</span>
            </div>
        </nav>
    </header>
    
    <main class="layout-main">
        <div class="container-fluid py-4">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>